body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
}
header{
    width: 100%;
    height: 70px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    z-index: 1;
}
header div{
    float: left;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 50px;
    border-radius: 50px;
    margin-left: 100px;
    padding: 10px;
}
.nav{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 300px;
}
.nav ul{
    list-style: none;
}
.nav ul li {
    float: left;
    padding: 20px;
    font-weight: bold;
    padding-top: 7px;
    
}
.nav ul li a{
    text-decoration: none;
    color: #1d1919;
    font-family: "Oswald", sans-serif;
}
.nav ul li a:hover{
    color:red;
    transition: all 0.25s ease-in;
}
.section1{
    background-color: #f9f9ff;
    width: 100%;
    height: 750PX;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
.sp1,.sp2{
    width: 50%;
}
.sp1{
    margin-left: 230px;
    margin-bottom: 120px;
    line-height: 25px;
}
.sp2{
    padding-right: 20px;
}.sp2 img{
    max-width: 100%;
    height: 750px;
}
.sp1 h3{
    font-weight: normal;
    font-family: "DM Serif Text", serif;
    font-size: 50px;
    color: #7e7c7cbe;
}
.sp1 h1{
    font-weight: 100;
    font-size: 60px;
    font-family: "Rubik Glitch", system-ui;
    letter-spacing: 5px;
}
.sp1 p{
    color: #7e7c7cbe;
    font-size: 20px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 30px;  
}
samp{
    color:  #938fdff1;
    font-family:"DM Serif Text", serif;
}
.sp1 input{
    padding:8px 20px;
    background-color: #a09cf1;
    outline: none;
    color: rgb(241, 243, 245);
    font-family:"Oswald", sans-serif ;
    letter-spacing: 4px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50px;
}
.sp1 input:hover{
    box-shadow: 5px 10px 30px rgba(138, 133, 202, 0.404);
    transition: all 0.2s ease-in;
    outline: none;
}
.section2{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section2 div{
    width: 40%;
}
.sp3 img{
    height: 600px;
    padding-left: 200px;
    margin-top: 70px;
}
.sp4{
    margin-right: 200px;
    margin-bottom: 120px;
    line-height: 25px;
}
.sp4 h3{
    font-weight: normal;
    font-family: "DM Serif Text", serif;
    font-size: 50px;
    color: #7e7c7cbe; 
}
.sp4 h1{
    font-weight: 100;
    font-size: 60px;
    font-family: "Rubik Glitch", system-ui;
    letter-spacing: 5px;
}
.sp4 p{
    color: #7e7c7cbe;
    font-size: 20px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 30px;  
}
.sp4 input{
    padding:8px 20px;
    background-color: #a09cf1;
    outline: none;
    color: rgb(241, 243, 245);
    font-family:"Oswald", sans-serif ;
    letter-spacing: 4px;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50px;
}
.sp4 input:hover{
    box-shadow: 5px 10px 30px rgba(138, 133, 202, 0.404);
    transition: all 0.2s ease-in;
    outline: none;
}
.section3{
    width: 100%;
    height: 650px;
    margin: 0px auto;
    text-align: center;
}
.sp5 h1{
    font-weight: 100;
    font-size: 60px;
    font-family: "Rubik Glitch", system-ui;
    letter-spacing: 2px;
    line-height: 15px;
    padding-top: 60px;
}
.sp5 p{
    color: #7e7c7cbe;
    font-size: 20px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 30px; 
    margin: 0px auto; 
    width: 600px;
}
.sp6{
    width: 80%;
    margin: 0px auto;
    padding-top: 60px;
}
.i1,.i2{
    width: 100%;
    overflow: hidden;
}
.i1 div{
    width: 30%;
    float: left;
    padding: 5px;
    margin: 0px auto;
    padding-left:40px ;
}
.i2 div{
    margin: 0px auto;
    padding-top: 30px;
    width: 40%;
}
.sp6 i{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.5);
}
.sp6 h1{
    font-weight: 100;
    font-size: 40px;
    font-family: "Rubik Glitch", system-ui;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.6a); 
    cursor: pointer;   
}
.sp6 p{
    color: #7e7c7cbe;
    font-size: 18px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 30px;  
}
.sp6 .i1 i:hover, .i1 h1:hover{
    color: #a09cf1;
}.sp6 .i2 i:hover, .i2 h1:hover{
    color: #a09cf1;
}
.section4{
    width: 100%;
    height: 300px;
    background-color: #a09cf1;
    margin-top: 150px;
}
.section4 .count div{ 
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
    top: 100px;
    left: 200px;
}
.section4 .count div h1,p{
    text-align: center;
    color: white;
}
.section4 .count div p{
     font-size: 30px;
    font-weight: normal;
    font-family: "Quintessential", serif;
    line-height: 30px; 

}
.section4 .count div h1{
    font-weight: normal;
    font-family: "Quintessential", serif;
    line-height: 30px;
    font-weight: bold; 
    font-size: 30px;
}
.section5{
    width: 100%;
    box-sizing: border-box;
}
.section5 .ptext{
    text-align: center;
}
.section5 .ptext h1{
    font-weight: 100;
    font-size: 60px;
    font-family: "Rubik Glitch", system-ui;
    letter-spacing: 2px;
    line-height: 15px;
    padding-top: 60px; 
    color: #292727bd;   
}
.section5 .ptext p{
    color: #7e7c7cbe;
    font-size: 18px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 30px;  
}
.section5 .pimg{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0px auto;
    text-align: center;
}
.section5 .pimg h1{
    font-weight: normal;
    font-size: 30px;
    font-family: "Rubik Glitch", system-ui;
    letter-spacing: 2px;
    line-height: 15px;
    padding-top: 20px; 
    color: #292727bd;   
}
.section5 .pimg p{
    color: #7e7c7cbe;
    font-size: 20px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 30px; 
    margin: 0px auto; 
    padding-bottom: 10px;
}
.section5 .pimg figure{
    background-color: #a09cf1;
    border-radius: 5px;
    height: 339px;
    width: 340px;
    cursor: pointer;
} 
.section5 .pimg figure:hover img{
   opacity: 0.3;
   transition: all 0.3s ease-in-out; 
}
.section6{
    width: 100%;
    height: 700px;
}
.section6 .ptext2{
    text-align: center;
    padding: 2% 0;
}
.section6 .ptext2 h1{
    font-weight: normal;
    font-size: 55px;
    font-family: "Rubik Glitch", system-ui;
    letter-spacing: 2px;
    line-height: 15px;
    padding-top: 60px; 
    color: #292727bd;   
}
.section6 .ptext2 p{
    color: #7e7c7cbe;
    font-size: 20px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 30px;  
}
.section6 .card{
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.section6 .card1{
    width: 300px;
    height: 550px;
    background-color: rgb(249, 249,255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.section6 .card1 h1{
    font-weight: normal;
    font-size: 40px;
    font-family:  "Rubik Glitch", system-ui;
    letter-spacing: 2px;
    line-height: 15px;
    padding-top: 30px; 
    color: #292727bd;   
}
.section6 .card1 h2{
    font-weight: normal;
    font-family: "DM Serif Text", serif;
    font-size: 30px;
    color: #7e7c7cbe;
}
.section6 .card1 p{
    color: #7e7c7cbe;
    font-size: 20px;
    font-weight: 600;
    font-family: "Quintessential", serif;
    line-height: 15px; 
    margin: 0px auto; 
    padding-bottom: 10px;
}
.section6 .card1 input{
    outline: none;
    background-color: #a09cf1;
    color: whitesmoke;
    padding: 6px 50px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
}
.section6 .card1:hover{
    background-color: #a09cf1;
    color: whitesmoke;
    transition: all 0.25s ease-in;
    transform: scale(1.05);
    border: 1px solid rgba(130, 147, 255, 0.5);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.5);
}
.section6 .card1:hover input{
    color: rgba(0, 0, 0, 0.9); 
    background-color: whitesmoke;
}
footer{
    background-color: rgb(4, 9, 30);
    width: 100%;
    height: 400px;
    position: absolute;
    color: white;
    margin-top: 200px;
}
footer .footer{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 120px;
}
footer .footer .foot1 p{
    color: rgba(255, 255, 255, 0.5);  
}
footer .footer .foot1 input{
    font-size: 15px;
    outline: none;
    border: none;
    padding: 10px 150px 10px 10px;
}
footer .footer .foot1 button{
    font-size: 18px;
    color: white;
    background-color: #a09cf1;
    cursor: pointer;
    padding: 8px 15px;
    outline: none;
    border: none;
}
footer .footer .foot1 i{
    font-size: 20px;
    padding: 2px 5px;
    color: #777;
}
footer .footer .foot1 i:hover{
    color: #a09cf1;
}
